@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}

.section-prices {
  padding: 1.5rem 1rem;
}
.section-prices header .section-header {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  color: #555;
  font-weight: 700;
  /*          left top blur shadow-padding */
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
}

.list-boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-boxs .card {
  width: 32%;
  text-align: center;
  position: relative;
  max-width: 300px;
}

.list-boxs .card .head,
.list-boxs .card .body {
  background-color: #fff;
  padding: 1.5rem 1rem;
}
.list-boxs .card .head{
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  transform: translateY(30px);
  transition: transform .3s linear;
  border-bottom: 1px solid #f2f2f2;
  cursor: default;
}

.list-boxs .starter .head{
  color: greenyellow;
}

.list-boxs .standard .head{
  color: lightblue;
}

.list-boxs .premium .head{
  color: salmon;
}

.list-boxs .card:hover .head{
  transform: translateY(0);
  box-shadow: 0 -5px 10px rgba(0,0,0, .1);
}

.list-boxs .card .price{
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  height: 60px;
  box-shadow: inset 0px 6px 6px -5px rgba(0,0,0, .25), inset 0px -6px 10px -5px rgba(0,0,0,.25);
}

.list-boxs .starter .price{
  background: greenyellow;
}

.list-boxs .standard .price{
  background: lightblue;
}

.list-boxs .premium .price{
  background: salmon;
}
.list-boxs .card .body{
  transform: translateY(-30px);
  transition: transform .3s linear;
  cursor: default;

}

.list-boxs .card:hover .body{
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}

.list-boxs .card p{
  font-size: .95rem;
  color: #333;
  text-align: justify;
}

.list-boxs .card .btn{
  margin-top: 2rem;
  padding: .6rem 1rem;
  outline: none;
  font-size: .85rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  min-width: 160px;
  border: transparent;
  background-color: #555;
  color: #333;
  cursor: pointer;
  transition:  all .2s linear;
}

.list-boxs .card .btn:hover{
  box-shadow: 0 5px 10px 3px rgba(0,0,0, .15);
  
}

.list-boxs .starter .btn{
  background: greenyellow;
}

.list-boxs .standard .btn{
  background: lightblue;
}

.list-boxs .premium .btn{
  background: salmon;
}

@media screen and (max-width: 750px){
  .list-boxs {
    justify-content: space-around;
  }

  .list-boxs .card{
    width: 45%;
  }
}

@media screen and (max-width: 550px){
  .list-boxs .card{
    width: 95%;
  }
}

